
    <table>
        <tr>
            <th>name</th>
            <th>precio</th>
            <th>icono</th>
        </tr>
        {{#each productos}}
            <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.urlIMG}}"> </td>
        </tr>
       {{/each}}
    </table>
    